body {
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 35px;;
}

.adendo {
    font-size: 20px;
}

.tela{
    display: none;
}

.tela.ativa {
    display: block;
}

.disclaimer{
    font-size: 20px;
    border: 100px;
    padding: 100px;
}