body {
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 35px;
}

header{
    border-bottom: solid 5px wheat;
    margin-bottom: 50px;
}

.adendo {
    font-size: 20px;
}

.tela{
    display: none;
}

.tela.ativa {
    display: block;
}

.disclaimer{
    font-size: 20px;
}

.dices button {
    background: none;
    border: none;
}

.dices button:hover {
    cursor: pointer;
}

.dices img{
    width: 20px;
}
